@model HouseCase.Models.Solution

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<div>
    <h4>Solution</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.solutionName)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.solutionName)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.explanation)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.explanation)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.decisionTime)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.decisionTime)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.targetSchedule)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.targetSchedule)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Issue.issueName)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Issue.issueName)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Status.status1)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Status.status1)
        </dd>

    </dl>
</div>


<p>
   @*
     @Html.ActionLink("Edit", "Edit", new { /* id = Model.PrimaryKey */ }) |
    @Html.ActionLink("Back to List", "Index")*@
</p>
