@model HouseCase.Models.Status

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<div>
    <h4>Status</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.status1)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.status1)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.explanation)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.explanation)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.statusId }) |
    @Html.ActionLink("Back to List", "Index")
</p>
